---
import type { CollectionEntry } from 'astro:content'
import Media from './Media.astro'
import NbdBanner from './NbdBanner.astro'
import TextContent from './TextContent.astro'
import clsx from 'clsx'

type ProjectBlock = NonNullable<
  CollectionEntry<'projects'>['data']['blocks']
>[number]

interface Props {
  block: ProjectBlock
}

const { block } = Astro.props

const bp = block.breakpoints
const bpClass = [
  ...(bp.includes('sm') ? [] : ['hidden']),
  ...(bp.includes('md') ? ['md:block'] : ['md:hidden']),
].join(' ')
---

<div class={clsx('bg-deep-black', bpClass)}>
  {
    block.type === 'media' && (
      <Media
        files={block.files}
        padding={block.padding}
        aspect={block.aspect}
        overlayImage={block.overlayImage}
        playWithSound={block.playWithSound}
      />
    )
  }
  {
    block.type === 'text' && (
      <TextContent
        title={block.title}
        text={block.text}
        variant={block.variant}
        padding={block.padding}
      />
    )
  }
  {
    block.type === 'nbd-banner' && (
      <NbdBanner
        projectName={block.projectName}
        role={block.role}
        team={block.team}
      />
    )
  }
</div>
